body {
    font-family: 'Arial', sans-serif;
    background-color: #0b0c10; /* Dark grey background */
    color: #e0e0e0; /* Light grey text for readability */
}

.navbar, footer {
    background-color: #45A29E;
    border-bottom: none; /* Remove border for a cleaner look */
}

.navbar-brand, .nav-link {
    color: #e0e0e0; /* Light grey text for contrast */
}

.nav-link:hover {
    background-color: #0b0c10; /* Slightly lighter grey on hover */
    color: #ffffff; /* White text for better visibility */
}

.intro-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

h5 {
    margin-top: 20px;
    color: #ffffff; /* White color for headings */
}

.btn-primary {
    background-color: #0b0c10; /* Dark grey button */
    border-color: #66fcf1; /* Border color slightly darker than button */
}

.btn-primary:hover {
    background-color: #66fcf1; /* Lighter grey on hover */
    border-color: #0b0c10; /* Adjust border color on hover */
    color: #0b0c10;
}

img.img-fluid {
    max-height: 300px;
    filter: brightness(0.8); /* Darkens the image to fit the theme */
}

.container {
    padding-top: 20px;
}

/* Additional style for hover effects to links in the navbar and footer */
.navbar-brand:hover, .nav-link:hover, footer a:hover {
    color: #ffffff;
    text-decoration: none; /* Removes underline from links on hover */
}

i {
    font-size: 20px;
    margin-left: 5px;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #45A29E; /* Adjust as needed */
    color: #e0e0e0; /* Adjust as needed */
    padding: 5px;
}