/* Custom CSS for homepage */

body {
    font-family: 'Arial', sans-serif;
    background-color: #141d26; /* Updated to a dark blue background */
    color: #ffffff; /* White text for readability */
}

.navbar, footer {
    background-color: #141d26; /* Dark blue background */
    border-bottom: none; /* Remove border for a cleaner look */
}

.navbar-brand, .nav-link {
    color: #ffffff; /* White text for contrast */
}

.nav-link:hover {
    background-color: #2b3f53; /* Darker blue on hover */
    color: #ffffff; /* White text for better visibility */
}

.intro-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #ffffff; /* White color for text */
}

h5 {
    margin-top: 20px;
    color: #ffffff; /* White color for headings */
}

.btn-primary {
    background-color: #2b3f53; /* Dark blue button */
    border-color: #1f2a35; /* Border color slightly darker than button */
    color: #ffffff; /* White text for button */
}

.btn-primary:hover {
    background-color: #3c536c; /* Lighter blue on hover */
    border-color: #2b3f53; /* Adjust border color on hover */
}

footer {
    color: #ffffff; /* White text */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img.img-fluid {
    max-height: 300px;
    filter: brightness(0.8); /* Darkens the image to fit the theme */
}

.container {
    padding-top: 20px;
}

/* Additional style for hover effects to links in the navbar and footer */
.navbar-brand:hover, .nav-link:hover, footer a:hover {
    color: #ffffff;
    text-decoration: none; /* Removes underline from links on hover */
}
