body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Dark grey background */
    color: #e0e0e0; /* Light grey text for readability */
}

.navbar, footer {
    background-color: #121212; /* Very dark grey, almost black */
    border-bottom: none; /* Remove border for a cleaner look */
}

.navbar-brand, .nav-link {
    color: #e0e0e0; /* Light grey text for contrast */
}

.nav-link:hover {
    background-color: #2a2a2a; /* Slightly lighter grey on hover */
    color: #ffffff; /* White text for better visibility */
}

.right-text {
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.left-text {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #2a2a2a; /* Dark grey button */
    border-color: #1a1a1a; /* Border color slightly darker than button */
}

.btn-primary:hover {
    background-color: #383838; /* Lighter grey on hover */
    border-color: #2a2a2a; /* Adjust border color on hover */
}

.container {
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers the children horizontally */
    align-items: center; /* Aligns the children vertically */
    padding: 10px; /* Adds padding around the content inside the container */
}

.container div {
    flex: 1; /* Each child will take equal amount of space */
}

.img-multiple {
    max-height: 150px;
    filter: brightness(0.8); /* Darkens the image to fit the theme */
    border-radius: 15px;
}

.img-single {
    max-height: 250px;
    filter: brightness(0.8); /* Darkens the image to fit the theme */
    border-radius: 15px;
}

/* Additional style for hover effects to links in the navbar and footer */
.navbar-brand:hover, .nav-link:hover, footer a:hover {
    color: #ffffff;
    text-decoration: none; /* Removes underline from links on hover */
}

.center {
    text-align: center;
}
